<div class="mt-12 mx-auto w-fit flex gap-2">
  <button mat-raised-button (click)="onSubscribe()">
    <div class="flex gap-2 justify-center items-center">
      <mat-spinner
        diameter="25"
        *ngIf="loadingCheckoutSession"
        color="accent"
      ></mat-spinner>
      <span>Checkout</span>
    </div>
  </button>
  <button mat-raised-button (click)="onStartTrial()">
    <div class="flex gap-2 justify-center items-center">
      <mat-spinner
        diameter="25"
        *ngIf="loadingTrial"
        color="accent"
      ></mat-spinner>
      <span>Free Trial</span>
    </div>
  </button>
</div>
