<div class="preview-pane">
  <h2 class="text-center">{{ allSettings.reportTitle }}</h2>
  <div class="field-container">
    <div *ngFor="let field of fields" class="field">
      <span class="mr-2 field-name"
        >{{ field.name }}{{ field.name ? ":" : "" }}</span
      >
      <span>{{ field.value }}</span>
    </div>
  </div>
  <div class="counts-container mt-5">
    <table>
      <thead *ngIf="allSettings.showLabels">
        <tr>
          <th *ngIf="allSettings.showCell">Cell</th>
          <th *ngIf="allSettings.showCount">Count</th>
          <th *ngIf="allSettings.showRelative">Relative</th>
          <th *ngIf="allSettings.showAbsolute">Absolute</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of currentCounts">
          <tr *ngIf="!item.ignore || allSettings.showIgnored">
            <td *ngIf="allSettings.showCell">{{ item.cell }}</td>
            <td *ngIf="allSettings.showCount">{{ item.count }}</td>
            <td *ngIf="allSettings.showRelative" class="text-right">
              {{ item.ignore ? "" : item.relative + " %" }}
            </td>
            <td *ngIf="allSettings.showAbsolute" class="text-right">
              <span>{{ item.ignore ? "" : item.absolute }}</span>
              <span
                *ngIf="allSettings.showUnits && !item.ignore"
                class="text-sm pl-2"
                [innerHTML]="formattedUnit()"
              ></span>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
