
  <form class="contact-form" action="https://formsubmit.co/bf8ccb78dcfa78bcf9219843dd68e957" method="POST">
      <h2>Contact the developer!</h2>
      <p>If you found some error or bug please let me know about it. I would also love to hear about any suggestions you might have for improvement, or any features you want added.</p>
      <textarea name="text" class="feedback-input" placeholder="Comment" [(ngModel)]="feedback"></textarea>
      <input type="hidden" name="_next" value="https://skiptocyte.com">
      <input type="hidden" name="_captcha" value="true">
      <button type="submit" (click)="onSubmit()">Submit</button>
  </form>
