<mat-card class="w-[25vw] max-w-[25rem] min-w-[20rem] m-auto mt-6">
  <form
    class="contact-form flex flex-col gap-2"
    #contactForm="ngForm"
    (ngSubmit)="onSubmit(contactForm.value)"
  >
    <h1 class="text-slate-600 text-center">Contact</h1>
    <p class="text-slate-600">
      Please report any bugs or issues you may have found. Or any suggestions
      for new features.
    </p>
    <textarea
      name="text"
      class="feedback-input border-2 outline-slate-700 w-full p-3 rounded"
      placeholder="Comment"
      [(ngModel)]="feedback"
      required
      #name="ngModel"
      required
    ></textarea>
    <input
      type="email"
      name="email"
      class="feedback-input border-2 outline-slate-700 w-full p-3 rounded"
      placeholder="Enter email if you want a response"
      [(ngModel)]="email"
    />
    <input type="hidden" name="_captcha" value="false" />
    <button
      class="my-4"
      mat-raised-button
      color="accent"
      type="submit"
      disabled="{{ !contactForm.valid }}"
    >
      <mat-progress-spinner
        color="primary"
        mode="indeterminate"
        *ngIf="loading"
      ></mat-progress-spinner>
      Submit
    </button>
  </form>
</mat-card>
