<div class="card-container">
  <mat-card class="card">
    <mat-card-title class="text-center card-title">Free Account</mat-card-title>
    <p class="price">$0</p>
    <mat-list>
      <mat-list-item *ngFor="let feature of features">
        <mat-icon *ngIf="feature.free" class="mr-2 text-green-400"
          >check_circle</mat-icon
        >
        <mat-icon *ngIf="!feature.free" class="mr-2 text-red-400"
          >cancel</mat-icon
        >
        <span class="font-medium">{{ feature.feature }}</span></mat-list-item
      >
    </mat-list>
    <mat-card-actions class="card-actions" *ngIf="!(user.isLoggedIn$ | async)">
      <button
        mat-flat-button
        color="primary"
        routerLink="/login"
        *ngIf="!(user.isLoggedIn$ | async)"
      >
        <mat-icon class="mr-2">person_add</mat-icon>Sign Up
      </button></mat-card-actions
    >
  </mat-card>
  <mat-card class="card">
    <mat-card-title class="text-center card-title"
      >Premium Account</mat-card-title
    >
    <p class="price">$4.99 <span class="per-month">per month</span></p>
    <mat-list>
      <mat-list-item *ngFor="let feature of features">
        <mat-icon *ngIf="feature.paid" class="mr-2 text-green-400"
          >check_circle</mat-icon
        >
        <mat-icon *ngIf="!feature.paid" class="mr-2 text-red-400"
          >cancel</mat-icon
        >
        <span class="font-medium">{{ feature.feature }}</span></mat-list-item
      >
    </mat-list>
    <mat-card-actions
      class="card-actions"
      *ngIf="!(user.isSubbed$ | async) || !(user.isLoggedIn$ | async)"
    >
      <button
        class="tracking-wider"
        mat-raised-button
        color="accent"
        (click)="sendToCheckout()"
      >
        <div class="spinner-container" *ngIf="isLoading">
          <mat-spinner diameter="30"></mat-spinner>
        </div>
        Free 30 Day Trial
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<button mat-raised-button color="accent" (click)="sendToCheckout()">
  <div class="spinner-container" *ngIf="isLoading">
    <mat-spinner diameter="30"></mat-spinner>
  </div>
  Subscribe
</button>
<br />
<button mat-raised-button (click)="sendToCustomerPortal()">
  <div class="spinner-container" *ngIf="isLoading">
    <mat-spinner diameter="30"></mat-spinner>
  </div>
  Portal
</button>
<br />
<button mat-raised-button color="accent" (click)="startTrial()">
  Start Trial
</button>
