$darkblue: #161c2f;
$medblue: #242d43;
$blue: #303a5e;
$bluehover: #2366be;
$verydarkblue: #000000;
$grey: #e5e5e5;
$greyHover: #c2c2c2;

.controls-container {
  width: clamp(300px, 100%, 400px);
  border-radius: 5px;
  background-color: $darkblue;
  padding: 10px;
}

.max-print-container {
  gap: 10px;
  justify-content: space-between;
  div,
  button {
    width: 50%;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
  }
  button {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    font-size: 1.5rem;
  }
  div {
    line-height: 40px;
    background: $blue;
    color: white;
  }
  button:active {
    transform: scale(0.97);
  }
}

.wbc-inputs {
  background: $medblue;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
  display: grid;
  gap: 6px;
  grid-template-columns: repeat(3, minmax(40px, 1fr));
  grid-template-rows: auto 50px;
  label {
    color: white;
    font-size: 1rem;
    letter-spacing: 1.5px;
    font-weight: 500;
  }
  input {
    border-radius: 5px;
    padding: 5px;
    font-size: 1.2rem;
    font-weight: 400;
    width: 100%;
  }
}

.arrow {
  width: 13px;
  height: 13px;
  display: inline-block;
  position: relative;
  transition: 0.4s ease;
  text-align: left;
  &:before,
  &:after {
    content: "";
    background-color: transparent;
    width: 3px;
    height: 12px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(0);
    transition: 0.4s ease;
    background-color: $blue;
  }

  &:before {
    transform: rotate(-45deg);
  }

  &:after {
    transform: rotate(45deg);
    left: 7.5px;
  }
}

.active .arrow {
  &:before {
    transform: rotate(-135deg);
  }

  &:after {
    transform: rotate(135deg);
  }
}

.numpad-grid {
  width: 100%;
  display: grid;
  gap: 6px;
  grid-template-columns: repeat(4, minmax(40px, 1fr));
  grid-auto-rows: 86px;
}

.numpad-container {
  margin-bottom: 1rem;
  max-height: 600px;
  transition: all 0.5s ease;
  overflow: hidden;
}

.numpad-closed {
  max-height: 0;
  margin: 0;
}

.ctrl-btns-container {
  grid-auto-rows: 50px;
}
.numpad-item,
.ctrl-btns {
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.02);
  }
  &:active {
    transform: scale(0.97);
  }
}

.ctrl-btns {
  background-color: white;
  color: black;
  font-size: 1.8rem;
}

.plus,
.enter {
  grid-row: span 2;
}

.zero,
.clear {
  grid-column: span 2;
}

.active {
  background: $darkblue;
  color: $grey;
  border: 2px solid $grey;
}

.deleteButton:hover {
  cursor: pointer;
  background: $medblue;
  border-radius: 5px;
}
.deleteButton {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  margin-right: 0;
}

.button {
  border-radius: 5px;
  background: $blue;
  padding: 0px 10px;
  color: $grey;
  transition: all 0.3s ease;
  &:active {
    transform: scaleY(0.98);
    transform: scaleX(0.99);
  }
}

.numpad-dropdown-btn:hover {
  transform: scale(1.01);
}

.arrow {
  width: 13px;
  height: 13px;
  display: inline-block;
  position: relative;
  transition: 0.4s ease;
  text-align: left;
  &:before,
  &:after {
    content: "";
    background-color: transparent;
    width: 3px;
    height: 12px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(0);
    transition: 0.4s ease;
    background-color: white;
  }

  &:before {
    transform: rotate(-45deg);
  }

  &:after {
    transform: rotate(45deg);
    left: 7.5px;
  }
}

.active-arrow .arrow {
  &:before {
    transform: rotate(-135deg);
  }

  &:after {
    transform: rotate(135deg);
  }
}

.mat-option .mat-icon {
  margin: 0;
}
@media (max-width: 480px) {
  .numpad-grid {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
  .invis-mobile {
    display: none;
  }

  .clear {
    grid-column: span 1;
  }
}
