<div
  class="flex flex-col gap-3 w-full p-3 bg-slate-900 rounded-md"
  [class.max-w-md]="display === 'numpad' || display === 'none'"
>
  <div class="grid grid-cols-3 gap-2">
    <div class="col-span-2 flex gap-1">
      <div
        class="bg-slate-800 rounded p-2 overflow-hidden w-2/3 text-xl text-slate-100 text-center"
      >
        {{ getCurrentCount() }} / {{ getMaxWbc() }}
      </div>
      <button mat-flat-button class="text-lg w-1/3" (click)="clearBtnHandler()">
        <mat-icon> close icon </mat-icon>
      </button>
    </div>
    <button
      *ngIf="!isMobile"
      (click)="openDialog()"
      class="flex justify-center gap-2 items-center bg-white rounded text-slate-900"
    >
      <mat-icon>print</mat-icon><span class="text-xl">Print</span>
    </button>
    <mat-button-toggle-group
      class="text-4xl"
      (change)="onButtonToggle($event)"
      *ngIf="isMobile"
    >
      <mat-button-toggle class="w-1/2" value="+" checked>+</mat-button-toggle>
      <mat-button-toggle class="w-1/2" value="-">-</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="grid grid-cols-3 gap-2">
    <mat-form-field appearance="fill">
      <mat-label>Max WBC</mat-label>
      <input
        (input)="updateMaxWbc($event)"
        matInput
        placeholder="Ex. 100"
        [value]="getMaxWbc()"
        maxlength="8"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>WBC Count</mat-label>
      <input
        matInput
        placeholder="Ex. 4.55"
        [value]="getWBCCount()"
        (input)="updateWBCCount($event)"
        maxlength="10"
      />
    </mat-form-field>

    <app-units-dropdown></app-units-dropdown>
  </div>

  <div *ngIf="display === 'keyboard'">
    <app-keyboard [pressedKey]="pressedKey"></app-keyboard>
  </div>
  <div class="mb-2" *ngIf="display === 'numpad'">
    <app-keypad [pressedKey]="pressedKey"></app-keypad>
  </div>
  <div class="grid grid-cols-2 gap-2" *ngIf="!isMobile">
    <mat-button-toggle-group [(ngModel)]="display" class="text-xs">
      <mat-button-toggle class="w-1/2" value="numpad" checked
        ><mat-icon> dialpad</mat-icon></mat-button-toggle
      >
      <mat-button-toggle class="w-1/2" value="keyboard"
        ><mat-icon>keyboard</mat-icon></mat-button-toggle
      >
    </mat-button-toggle-group>
    <mat-button-toggle-group class="text-4xl" (change)="onButtonToggle($event)">
      <mat-button-toggle class="w-1/2" value="+" checked>+</mat-button-toggle>
      <mat-button-toggle class="w-1/2" value="-">-</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>
