<div class="controls-container">
  <div class="max-print-container flex">
    <div class="max-wbc-ratio">
      {{ currentCount }}/{{ currentPreset.maxWBC }}
    </div>
    <button class="print-btn">
      <mat-icon>print</mat-icon><span>Print</span>
    </button>
  </div>
  <div class="wbc-inputs my-3">
    <label for="max-wbc">Max Count</label>
    <label for="WBC Count">WBC</label>
    <div></div>

    <input
      type="number"
      name="max-wbc"
      [(ngModel)]="currentPreset.maxWBC"
      (keyup)="keyPressNumbers($event)"
    />
    <input
      type="number"
      step="0.01"
      value="0"
      name="WBC Count"
      (keypress)="keyPressNumbersWithDecimal($event)"
    />
    <mat-form-field appearance="fill">
      <mat-label>Units</mat-label>
      <mat-select [(value)]="selectedUnit" panelClass="unit-dropdown">
        <mat-select-trigger>{{ selectedUnit }}</mat-select-trigger>
        <ng-container *ngFor="let unit of units; let i = index">
          <mat-option value="{{ unit }}"
            ><span>{{ unit }}</span>
            <mat-icon (click)="deleteUnitFromList(i)" class="deleteButton"
              >clear</mat-icon
            >
          </mat-option>
        </ng-container>
        <mat-option [ngStyle]="{ display: 'none' }">Filler option</mat-option>
        <input
          type="text"
          class="p-3 w-[100%]"
          (keydown.enter)="addUnits($event)"
          placeholder="Add Units"
          maxlength="15"
        />
      </mat-select>
    </mat-form-field>
  </div>
  <button
    class="button w-full h-8 mb-3 numpad-dropdown-btn shadow-md hidden sm:block"
    (click)="numpadDropdown()"
    [ngClass]="!numpadVisible ? '' : 'active-arrow'"
  >
    <span class="arrow"></span>
  </button>

  <div
    class="numpad-container numpad-grid"
    [ngClass]="{
      'numpad-closed': !numpadVisible
    }"
  >
    <button
      class="numpad-item"
      *ngFor="let item of numpadItems; index as i"
      [ngClass]="{
        plus: i === 7,
        enter: i === 14,
        zero: i === 15,
        'invis-mobile': i === 3 || i === 7 || i === 14,
        flash: currentKey === item
      }"
    >
      <span>{{ item }}</span
      ><span class="cell-name">{{ keyBindingCheck(item) }}</span>
    </button>
  </div>
  <div class="numpad-grid ctrl-btns-container">
    <button class="ctrl-btns clear" (click)="clearBtnHandler($event)">
      Clear
    </button>
    <button
      id="increase"
      class="ctrl-btns increase"
      (click)="setActive($event)"
      [ngClass]="active === 'increase' ? 'active' : ''"
    >
      +
    </button>
    <button
      id="decrease"
      class="ctrl-btns decrease"
      (click)="setActive($event)"
      [ngClass]="active === 'decrease' ? 'active' : ''"
    >
      -
    </button>
  </div>
</div>
