<div class="print-dialog">
  <div class="print-settings-container">
    <h2 class="text-center">Print Settings</h2>
    <div
      class="form-fields-container mb-5"
      cdkDropList
      (cdkDropListDropped)="drop($event)"
    >
      <div
        *ngFor="let field of fields; let i = index"
        cdkDrag
        class="form-field-row shadow-md mb-2"
      >
        <mat-icon cdkDragHandle class="text-gray-400 m-auto cursor-move"
          >drag_indicator</mat-icon
        >
        <span>{{ field.name }}</span>
        <input
          type="text"
          class="field-value-input"
          [(ngModel)]="fields[i].value"
          maxlength="50"
        />
        <button mat-button (click)="deleteFieldRow(i)">
          <mat-icon class="text-center text-gray-600">close</mat-icon>
        </button>
      </div>
    </div>
    <div class="add-new-field flex">
      <button
        *ngIf="!adding"
        mat-raised-button
        color="accent"
        (click)="toggleField()"
      >
        Add Field
      </button>
      <div *ngIf="adding" class="flex gap-2 w-full">
        <input
          type="text"
          class="add-field-input shadow-md"
          placeholder="Name"
          [(ngModel)]="newFieldValue"
          #newFieldInput
          (keydown.enter)="addNewField()"
          maxlength="30"
        />
        <button (click)="addNewField()" mat-raised-button color="accent">
          Add
        </button>
        <button (click)="toggleField()" mat-stroked-button>Cancel</button>
      </div>
    </div>
  </div>

  <div class="preview-container max-w-[595px]">
    <h2 class="text-center">Preview</h2>

    <div class="preview-pane">
      <h2 class="text-center">Report</h2>
      <div class="field-container">
        <div *ngFor="let field of fields" class="field">
          <span class="mr-2 field-name"
            >{{ field.name }}{{ field.name ? ":" : "" }}</span
          >
          <span>{{ field.value }}</span>
        </div>
      </div>
      <div class="counts-container mt-5">
        <table>
          <thead>
            <tr>
              <th>Cell</th>
              <th>Count</th>
              <th>Relative</th>
              <th>Absolute</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of currentCounts">
              <td>{{ item.cell }}</td>
              <td>{{ item.count }}</td>
              <td>{{ item.relative }}</td>
              <td>{{ item.absolute }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="button-container flex justify-end gap-3">
      <button mat-flat-button color="accent">Print</button>
      <button mat-stroked-button [mat-dialog-close]="true">Cancel</button>
    </div>
  </div>
</div>
