<!-- <h1>Main page</h1>
<br />
<div *ngFor="let route of routes">
  <a (click)="switchRoute(route.route)">{{route.name}}</a>
</div> -->

<h1>testing material tabs</h1>
<nav class="main-list-container" mat-tab-nav-bar [tabPanel]="tabPanel">
  <a class="nav-links" mat-tab-link *ngFor="let route of routes"
     (click)="switchRoute(route.route)"
     (click)="activeLink = route"
     [active]="activeLink == route"> {{route.name}} </a>
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>


<router-outlet></router-outlet>
