<div class="table-container rounded-md">
  <div class="top-level-controls">
    <button class="add-btn button" (click)="addRow()">
      <mat-icon>add</mat-icon><span class="hide">Add Row</span>
    </button>
    <button class="clear-btn button" (click)="clearAll()">
      <mat-icon>delete_outline</mat-icon><span class="hide">Clear All</span>
    </button>
    <mat-form-field appearance="fill">
      <mat-label>Presets</mat-label>
      <mat-select
        value="0"
        panelClass="unit-dropdown"
        (selectionChange)="changeClient($event.value)"
      >
        <mat-option
          value="{{ i }}"
          *ngFor="let preset of presets; let i = index"
          >{{ preset.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <button
      class="update-preset button"
      (click)="updatePreset()"
      [disabled]="isLoading"
    >
      <span class="loader" *ngIf="isLoading"></span>
      <span *ngIf="isLoading" class="ml-2">Saving...</span>
      <span *ngIf="!isLoading">Save Preset</span>
    </button>
    <button class="button" (click)="op.toggle($event)">New Preset</button>
    <button class="button"><mat-icon>settings</mat-icon></button>
  </div>
  <div class="table-header-container">
    <span class="table-header-item">Ignore</span>
    <span class="table-header-item">Key</span>
    <span class="table-header-item">Cell</span>
    <span class="table-header-item">Count</span>
    <span class="table-header-item">Relative</span>
    <span class="table-header-item">Absolute</span>
  </div>
  <div class="table-rows-container">
    <div
      cdkDropList
      class="drag-drop-container"
      (cdkDropListDropped)="drop($event)"
    >
      <div
        class="table-row"
        *ngFor="let item of currentPreset.rows; let i = index"
        cdkDrag
      >
        <div class="flex justify-center">
          <input type="checkbox" [checked]="item.ignore" />
          <!-- <mat-checkbox class="center" [checked]="item.ignore"></mat-checkbox> -->
        </div>
        <!-- <input type="checkbox" [checked]="item.ignore" /> -->
        <div class="tooltip">
          <input
            type="text"
            class="key-input shadow-lg"
            value="{{ item.key }}"
            (keydown)="duplicateCheck($event, i)"
          />
        </div>
        <input
          type="text"
          class="cell-input shadow-lg"
          value="{{ item.cell }}"
          (keyup)="updateCurrentPreset($event, i)"
          maxlength="15"
        />
        <span></span>
        <span></span>
        <span></span>
        <a
          class="boxclose"
          id="boxclose"
          (click)="deleteRow($event)"
          [attr.data-target]="i"
        ></a>
      </div>
    </div>
  </div>
</div>

<p-overlayPanel #op>
  <ng-template pTemplate>
    <div class="flex flex-col gap-5">
      <h2 class="text-center text-xl">New Preset</h2>
      <div>
        <label class="block mb-2" for="preset_name">Preset name</label>
        <input type="text" pInputText [(ngModel)]="inputPresetName" placeholder="e.g. Peripheral Blood"/>
      </div>
      <div>
        <label class="block mb-2">Max Count</label>
        <p-inputNumber [(ngModel)]="inputMaxCount" class="w-full" placeholder="e.g. 100"></p-inputNumber>
      </div>
      <div>
        <label class="block mb-2">Number of Cells</label>
        <p-inputNumber [(ngModel)]="inputNumRows" class="w-full" placeholder="e.g. 5"></p-inputNumber>
      </div>
      <button class="btn btn-active float-right">Save</button>
    </div>
  </ng-template>
</p-overlayPanel>