<div class="table-container rounded-md">
  <div class="top-level-controls">
    <div class="preset-select">
      <mat-form-field appearance="fill">
        <mat-label>Presets</mat-label>
        <mat-select
          #presetSelect
          [(value)]="index"
          panelClass="unit-dropdown"
          (selectionChange)="changeClient($event)"
          ><mat-select-trigger>{{
            presetService.currentPreset?.name
          }}</mat-select-trigger>
          <mat-option
            *ngFor="let preset of presetService.presets; let i = index"
            value="{{ i }}"
            >{{ preset.name
            }}<mat-icon class="deleteButton" (click)="deletePreset(i)"
              >clear</mat-icon
            ></mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <button
      class="update-preset button"
      (click)="updatePreset()"
      [disabled]="isLoading"
    >
      <span *ngIf="isLoading" class="flex items-center gap-2"
        ><mat-spinner diameter="25" color="accent"></mat-spinner
        ><span class="hidden md:block">Saving...</span></span
      >
      <span *ngIf="!isLoading"
        ><mat-icon class="show">save</mat-icon
        ><span class="hidden md:block">Save</span></span
      >
    </button>
    <button class="button" (click)="op.toggle($event)">
      <span>New</span>
    </button>
    <button class="add-btn button" (click)="addRow()">
      <mat-icon>add</mat-icon><span class="hide-md">Row</span>
    </button>
    <button
      class="button settings-btn"
      (click)="openDialog()"
      *ngIf="user.isSubbed$ | async"
    >
      <mat-icon>settings</mat-icon>
    </button>
  </div>
  <div
    class="text-slate-50 text-center text-xs md:text-lg md:tracking-wide w-full flex gap-2 md:gap-3 justify-around pl-4 pr-2 py-4"
  >
    <span class="w-[8%] md:w-[5%]">Ignore</span>
    <span class="w-[12%]">Key</span>
    <span class="w-[28%]">Cell</span>
    <span class="w-[12%]">Count</span>
    <span class="w-[12%]">Relative</span>
    <span class="w-[16%] md:w-[19%]">Absolute</span>
    <span class="w-[24px]"></span>
  </div>
  <div class="table-rows-container">
    <div
      cdkDropList
      class="drag-drop-container grid gap-1"
      (cdkDropListDropped)="drop($event)"
    >
      <app-row
        cdkDrag
        *ngFor="let item of presetService.currentPreset?.rows; let i = index"
        [item]="item"
        [i]="i"
      ></app-row>
    </div>
  </div>
</div>
<!-- dropdown to make new preset -->
<p-overlayPanel #op [showCloseIcon]="true">
  <ng-template pTemplate>
    <form #presetForm="ngForm" (ngSubmit)="onSubmit(presetForm)">
      <div class="flex flex-col gap-5">
        <h2 class="text-center text-xl">New Preset</h2>
        <div>
          <label class="block mb-2" for="preset_name">Preset name</label>
          <input
            maxlength="30"
            type="text"
            pInputText
            placeholder="e.g. Peripheral Blood"
            name="presetName"
            ngModel
            #presetName="ngModel"
            required
            [ngClass]="
              presetName.touched && !presetName.valid
                ? 'ng-invalid ng-dirty'
                : ''
            "
          />
          <small
            *ngIf="presetName.touched && !presetName.valid"
            class="p-error block"
            >Preset name cannot be blank</small
          >
        </div>
        <div>
          <label class="block mb-2">Max Count</label>
          <p-inputNumber
            [(ngModel)]="maxCount"
            class="w-full"
            placeholder="e.g. 100"
            name="inputMaxCount"
            [min]="0"
            [max]="9999"
            [maxlength]="5"
          ></p-inputNumber>
        </div>
        <button
          (click)="presetForm.valid && op.hide()"
          class="btn btn-active float-right"
          type="submit"
        >
          Ok
        </button>
      </div>
    </form>
  </ng-template>
</p-overlayPanel>
