/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

$grey: #e5e5e5;

*{
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  background: #303a5e;
}

.main-list-container {
  display: none;
  z-index: 10;
  position: absolute;
  width: 100%;
  background-color: #242d43;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background: rgb(65, 65, 232);
  height: 3px;
}

.bg-grey {
  background-color: $grey;
}
